@import url("//fonts.googleapis.com/css?family=Open+Sans:400,700");

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f2f2f2 !important;
  color: #333;
  font-family: "Open Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 15px;
  line-height: 1.45;
}

a {
  color: #337ab7;
  text-decoration: none;
  outline: none;
  &:visited,
  &:active {
    color: #337ab7;
  }
  &:hover {
    color: darken(#337ab7, 15%);
  }
  &.btn {
    color: #fff;
  }
}

img {
  max-width: 100%;
}

.gravatar {
  border-radius: 100%;
}

.f05em { font-size: 0.5em; }
.f06em { font-size: 0.6em; }
.f07em { font-size: 0.7em; }
.f08em { font-size: 0.8em; }
.f09em { font-size: 0.9em; }
.f10em { font-size: 1.0em; }
.f11em { font-size: 1.1em; }
.f12em { font-size: 1.2em; }
.f13em { font-size: 1.3em; }
.f14em { font-size: 1.4em; }
.f15em { font-size: 1.5em; }
.f20em { font-size: 2.0em; }

.fwBold { font-weight: bold; }

.aRight { text-align: right; }
.aLeft { text-align: left; }

.mgl5 { margin-left: 5px; }
.mgl10 { margin-left: 10px; }
.mgl15 { margin-left: 15px; }
.mgl20 { margin-left: 20px; }
.mgl30 { margin-left: 30px; }
.mgl40 { margin-left: 40px; }
.mgl50 { margin-left: 50px; }

.mgr5 { margin-right: 5px; }
.mgr10 { margin-right: 10px; }
.mgr15 { margin-right: 15px; }
.mgr20 { margin-right: 20px; }
.mgr30 { margin-right: 30px; }
.mgr40 { margin-right: 40px; }
.mgr50 { margin-right: 50px; }

.mgt5 { margin-top: 5px; }
.mgt10 { margin-top: 10px; }
.mgt15 { margin-top: 15px; }
.mgt20 { margin-top: 20px; }
.mgt30 { margin-top: 30px; }
.mgt40 { margin-top: 40px; }
.mgt50 { margin-top: 50px; }

.mgb5 { margin-bottom: 5px; }
.mgb10 { margin-bottom: 10px; }
.mgb15 { margin-bottom: 15px; }
.mgb20 { margin-bottom: 20px; }
.mgb30 { margin-bottom: 30px; }
.mgb40 { margin-bottom: 40px; }
.mgb50 { margin-bottom: 50px; }

.pRelative { position: relative; }
.pAbsolute { position: absolute; }
